<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>

<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{rootUrl}}assets/bootstrap3/css/bootstrap.min.css">
<link rel="stylesheet" href="{{rootUrl}}assets/wiki.css">
</head>

<body>
<div id="wiki-container" class="container">

<div id="wiki-header" class="row">
<div class="col-md-12">
<header>
<h1>{{ title }}</h1>
</header>
</div>
</div><!-- #wiki-header -->

<div id="wiki-body" class="row">
<div id="wiki-menu" class="col-md-3">
{{ menu }}
</div>

<div id="wiki-contents" class="col-md-9">
<div class="well">{{ content }}</div>
</div>
</div><!-- #wiki-body -->

<div id="wiki-footer" class="row">
<div class="col-md-12">
<footer>
<addr>Copyright &copy; 2013 <a href="http://www.straight-spirits.co.jp" target="_blank">Straight Spirits Co.Ltd.</a></addr>
</footer>
</div>
</div><!-- #wiki-footer -->

</div><!-- #wiki-container-->

<script src="{{rootUrl}}assets/bootstrap3/js/jquery-2.0.3.js"></script>
<script src="{{rootUrl}}assets/bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>
