body {
	background-color: hsl(100, 90%, 90%);
}

header {
	padding-left: 16px;
	margin-top: 32px;
	margin-bottom: 32px;
}

footer {
	padding: 16px;
}

#wiki-container {
}

#wiki-header {
	background-color: hsl(100, 70%, 70%);
}

#wiki-body {
	background-color: hsl(100, 95%, 95%);
	padding-top: 16px;
}

#wiki-menu {
}

#wiki-contents {
}

#wiki-footer {
}
